@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* Conteúdo blocado */

body {
    background-color: #181719;
}

.main {
    margin: 0 auto;
    max-width: 500px;
    background-color: #181719;
}

/* Cabeçalho */

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__hamburguer {
    display: block;
    background-repeat: no-repeat;
    padding: 15px 15px;
    background-position: center;
    background-color: #181719;;
}

.header__hamburguer--open{
    background-image: url('../img/menu-open.svg');
}

.header__hamburguer--close {
    background-image: url('../img/menu-close.svg');
    margin-left: 270px;
    margin-top: 15px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140vh;
    background-color: #181719;
    z-index: 1;
    
    transform: translateX(-100%);
    transition: transform 200ms linear;
}

.menu__open {
    transform: translateX(0); 
}

.menu__item {
    margin: 100px 0;
}

.menu__item-list {
    padding: 30px 0;
    text-align: center;
}

.menu__item-link {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;  
}

.header__logo {
    font-family: 'Crimson Pro', serif;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
}

/* Bloco primário texto */

.content {
    display: flex;
    align-items: center;
    padding: 35px 12px;
}

.content__text-title {
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 30px;
    margin-bottom: 35px;
}

.content__text-paragraph,
.content__text-subparagraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
}

.content__text-paragraph {
    width: 215px;
    line-height: 18px;
    margin-bottom: 25px;
}

/* Segundo bloco e Imagem Central */

.content__secundary {
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
}

.content__room-picture-img {
    transform: scaleX(-1);
    width: 100%;
}

.content__room {
    position: relative;
    bottom: 40px;
}

.content__room-box {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content__room-box--img {
    margin: 10px;
    border-radius: 50%;
    width: 55px;
    height: 50px;
}

.content__room-box--title,
.content__room-box--subtitle {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 20px 0 0 10px;
}

.content__room-box--subtitle {
    margin-top: 5px;
    color: #828282;
}

.content__room-box--text {
    margin: 0 10px;
    width: 210px;
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 23px;
}

.footer__line {
    width: 261px;
    border-top: 1px solid #fff;
}

.footer__text,
.footer__text-link {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #A9A9A9;
    padding: 10px 0;
}

@media (min-width: 510px) {
    .main {
        max-width: 765px;
    }
    .content__text-paragraph{
        width: 100%;
    }
    .content__room {
        left: 63%;
        bottom: 60px;
        width: 280px;
        height: 189px;
    }
}

@media (min-width: 1024px) {
    .main { 
        max-width: 1200px;
    }

    .content{
        width: 25%;
    }

    .content__secundary {
        position: relative;
        bottom: 240px;
        width: 50%;
        margin-left: 460px;
    }

    .content__room-picture-img {
        width: 100%;
    }

    .content__room {
        left: 33%;
        bottom: 60px;
    }
}

@media (min-width: 1440px) {
    .main {
        max-width: 1440px;
    }

    .header { 
        margin-bottom: 160px;
    }

    .content {
        margin-top: 10%;
    }

    .content__secundary {
        bottom: 265px;
    }
}